* {
margin: 0px;
padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
    display: block;
}

#colorescabecera{
    
    background-color:#1A1936;

    position:absolute;
    top:0px:
    left:0px;
    z-index:-1;

    color:#1A1936;

    width:100%;
    height:110px;
}

#agrupar{
	
	width:1400px;
	margin: auto;
	text-align:left;
	height:100%;
	
	overflow:auto;
}

#menu{
	width:auto;
	background:#CCCCCC;
	padding: 0px 0px;
	text-align:center;
}

#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font:bold 14px verdana, sans-serif;
	
	
	color:white;
}

#menu li:hover{
	background-color:#6B6D80;
}

#menu a{
	text-decoration:none;
	color:black;
}


#seccion {
	
	float:left;
	
	width: 800px;
	margin: 5px 0px;
}

#derecha{
	
	float:left;
	
	width: 300px;
	margin: 5px 0px;
	padding: 0px;
	background:#5C5A80;
	
	overflow: auto;
	
}

#derecha section{
	background:#9190B1;
}

#columna {
	
	float:left;
	width: 300px;
	margin: 5px 0px;
	padding: 0px;
	background: #999967;
	
	overflow: auto;
}


#pie {
	background:#282340;
	clear: both;
}
#pie a{
    text-decoration: none;
    color:white;
}

#redes{
	
	width:250px;
	height:110px;
	float:left;
	color:#f7fb4e;
	background-color:#080021;
}
.redessociales{
    background-color:white;
    height:20px;
    width:auto;
    font:bold 18px Times;
}
.redessociales a{
    color:blue;
}

#logo{
	width:150px;
	height:110px;
	float:left;
	
	background-color:none;
}

#logo img{
	width: 130px;
	height: 110px;
	alt = "logo Cabecera";
}

#textocabecera{
	
	width:1000px;
	height:110px;
	float:left;
	
	color:#FFC244;
	background-color:none;
	font-size:30px;
	
	text-align:center;
	
}

body{
	text-align:center;
	background:#19193D;
}


header{
	background:#373740;
	width:100%;
	height:110px;
}


nav{
	background:#398f39;
	height:30px;
	width:auto;
}

aside{
	background:#999967;
	height:auto;
	width:300px;
	position:
	float:left;
}

#enfasispublico{
	width:auto;
	height:auto;
	
	background-color:#2a302a;
	border-radius:15px;
	
	color:#E3E3E3;
	
	font: verdana, sans-serif;
	font-size:21px;
	text-align:center;
}

#enfasispenta{
	width:300px;
	height:auto;
	
	background-color:#080021;
	color:white;
	border-radius:15px;
	
	font-size:21px;
	font:bold;
	text-align:center;
}

section{
	background:#FFFFFF;
	
	width:auto;
	height:auto;
	
}
.frame{
    background-color:red;
    width:100%;
}

footer{
	background:#777777;
	color:#A5A5A5;

	text-align:center;
}
/*
 *Este es un comentario, pero, de la mamera que estan configurados los permisos, 
 *Cualquier usuario con acceso a el servisor, podrá modificar los archivos
 *
 * */
