#espaciobusqueda{

    position: absolute;;
    
    z-index:1;
    
    width:850px;
    height:110px;
    
    color:#FFC244;
    background-color:none;
  
}

#busqueda{

    margin-left:865px;
    position:absolute;
    
    z-index:1;
    
    width:250px;

}