#seccion {
	
	float:left;
	
	width: 1150px;
	margin: 0px 0px;
}

#seccion2{
    
    float:left;
    width:575px;
    height:auto;

    font: 15px arial, sans-serif;
}

#seccion2verde{
    
    float:left;
    width: 575px;
    haight:auto;
    
    background-color:#C1E8BE;

    font: 15px Arial, sans-serif;
}

#seccion2azul{
    
    float:left;
    width: 575px;
    height:auto;
    
    background-color:#CDD4FF;

    font: 15px arial, sans-serif;
}

#seccion2cafe{
    
    float:left;
    width: 575px;
    height: auto;
    background-color:#A58F7F;

    font: 15px arial, sans-serif;
    
}

#tituloazul{
    
    width:auto;

    background-color:#7C8DBF;

    font:bold 16px verdana, sans-serif;
    
}

#titulocafe{
    
    width:auto;

    background-color:#A58F7F;

    font:bold 16px verdana, sans-serif;
    align:center;
    
}

#tituloverde{
    
    width:auto;

    background-color:#278C1D;

    font:bold 16px verdana, sans-serif;
    
}

#seccion1{
    
    float:left;
    width:1150px;
    height:auto;

    font:15px arial, sans-serif;
}

#seccion1verde{
    float:left;
    width: 1150px;
    haight:auto;
    
    background-color:#C1E8BE;

    text-align:center;
    font: 15px arial, sans-serif;
}

#seccion1azul{
    
    float:left;
    width: 1150px;
    height:auto;
    
    background-color:#CDD4FF;
    

    font: 15px arial, sans-serif;
}



#seccion1cafe{
    
    float:left;
    width: 1150px;
    height: auto;
    background-color:#A58F7F;
    
    font:15px arial, sans-serif;
    
}





#titulo1azul{
    
    width:auto;

    background-color:#7C8DBF;

    text-align:center;
    font:bold 16px verdana, sans-serif;
    
}

#titulo1cafe{
    
    width:auto;

    background-color:#A58F7F;

    text-align:center;
    font:bold 16px verdana, sans-serif;
    
}

#titulo1verde{
    
    width:auto;

    background-color:#278C1D;
    text-align:center;
    font:bold 16px verdana, sans-serif;
    
}

#negris{
    font:bold 14px arial, sans-serif;
}