* {
margin: 0px;
padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
    display: block;
}

#agrupar{
	
	width:1150px;
	margin: auto;
	text-align:left;
	height:100%;
	
	overflow:auto;
}

#cabecera{
    width:1150px;
}

#textocabecera{
    z-index:0;
    width:965px;
    height:110px;
    float:left;
    
    color:#FFC244;
    background-color:none;
    font-size:30px;
    
    text-align:center;
    
}


#menu{
    display:block;
    width:auto;
    background:#CCCCCC;
    padding: 0px 0px;
    text-align:center;
}

#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font:bold 14px verdana, sans-serif;
	
	
	color:white;
}

#menu li:hover{
	background-color:#6B6D80;
}

#menu a{
	text-decoration:none;
	color:black;
}

#derecha{
    
    float:left;
    
    width: 250px;
    margin: 5px 0px;
    padding: 0px;
    background:#5C5A80;
    
    overflow: auto;
    
}

#derecha section{
	background:#9190B1;
}

#columna {
	
	float:left;
	width: 250px;
	margin: 5px 0px;
	padding: 0px;
	background: #999967;
	
	overflow: auto;
}
#columna a{
    text-decoration: none;
    color:white;
}

#columna section{
    background:#1E2737;
    color: #C7DCFF;
}

#pie {
	background:#282340;
	clear: both;
}

#pie a{
    text-decoration: none;
    color:white;
}

.redessociales{
    background-color:#080021;
    width:150px;
    height:110px;
    width:auto;
    float:left;
    font:bold 18px Times;
}
.redessociales a{
    color:blue;
}

#logo{
	width:150px;
	height:110px;
	float:left;
	
	background-color:none;
}

#logo img{
	width: 130px;
	height: 110px;
	alt = "logo Cabecera";
}

body{
	text-align:center;
	background:#19193D;
}


header{
	background:#373740;
	width:100%;
	height:110px;
}


nav{
	background:#398f39;
	height:30px;
	width:auto;
}

aside{
	background:#999967;
	height:auto;
	width:300px;
	position:
	float:left;
}

#enfasispublico{
	width:auto;
	height:auto;
	
	background-color:#2a302a;
	
	color:#E3E3E3;
	
	font: verdana, sans-serif;
	font-size:21px;
	text-align:center;
}

#enfasispenta{
	width:auto;
	height:auto;
	
	background-color:#080021;
	color:white;
	border-radius:15px;
	
	font-size:21px;
	font:bold;
	text-align:center;
}
#enfasisverde{
	width:auto;
	height:auto;
	
	background-color:#1F5119;
	border-radius:15px;
	
	color:#E3E3E3;
	
	font: verdana, sans-serif;
	font-size:21px;
	text-align:center;
}

section{
    
	background:#ddddf1;
	width:auto;
	height:auto;
	font: helvetica;
	
}

footer{
	background:#777777;
	color:#A5A5A5;

	text-align:center;
}
