.imgnormalderecha{
    float:right;

    width:150px;
    height:auto;
}

.imgnormalizquierda{
    
    float:left;

    width:150px;
    height: auto;
}


.imgmedianaderecha{
    float:right;

    width:250px;
    height:auto;
}

.imgmedianaizquierda{
    
    float:left;

    width:250px;
    height: auto;
}

.imggrandederecha{
    float:right;

    width:450px;
    height:auto;
}

.imggrandeizquierda{
    
    float:left;

    width:450px;
    height: auto;
}

